<% provide(:title, "About") %>
<div>
<div id="scene">

<div class="col-md-4 col-sm-2"> </div>

<div class="col-md-4 col-sm-2">
<div class="center about-text-box"> 
    <div class="about-header">Moon | Half</div>
            <div class="about-text">
                Have you ever wanted a website like this, with all of these cool effects that even work on your phone?
                Then you're in luck because I'm a professional freelance web developer and I'm selling this website to anyone who wants it!
            </div>
            <div class="about-header">Website features:</div>
            <div>
            <div class="about-text">
                <ul class="about-text">
                    <li>Fully functioning blog</li>
                    <li>Sweet parallax effects</li>
                    <li>Moveable text</li>
                    <li>Full Scalability between screen sizes</li>
                </ul>    
            </div>
            </div>
</div>


<div class="col-md-4 col-sm-2"></div>
</div>    


<div class="row">
    <div class="col-md-4">
        <div class="layer" data-depth="0.40" friction="0.80"><img class="mars" src="assets/mars.png"></div>
    </div>
    
    <div class="col-md-4">

    </div>
    
    <div class="col-md-4">
        <div class="layer" data-depth="1.00" friction="0.80"><img src="assets/mercury.png"></div>
    </div>
</div>

</div>
</div>
