<% provide(:title, "Home") %>
<div>
<div id="scene">

<div class="row">
    <div class="col-md-4">
        <li class="layer" data-depth="0.20"><img class="cloud" src="assets/cloud1.png"></li>
        <li class="layer" data-depth="0.20"><img class="cloud2" src="assets/cloud2.png"></li>
    </div>
    
    <div class="col-md-4">
        <li class="layer" data-depth="0.20"><img class="cloud3" src="assets/cloud3.png"></li>
    </div>
    
    <div class="col-md-4">
        <li class="layer" data-depth="0.80" friction="0.80"><img class="moon" src="assets/moon.png"></li>
    </div>
</div>



<div class="center">
    <div class="mydiv">
        <h1>M</h1>
    </div>
    
    <div class="mydiv">
        <h1>O</h1>
    </div>
    
    <div class="mydiv">
        <h1>O</h1>
    </div>
    
    <div class="mydiv">
        <h1>N</h1>
    </div>
    &nbsp;
    <div class="mydiv large-logo">
        <h1>|</h1>
    </div>
    &nbsp;
    <div class="mydiv">
        <h1>H</h1>
    </div>
    
    <div class="mydiv">
        <h1>A</h1>
    </div>
    
    <div class="mydiv">
        <h1>L</h1>
    </div>
    
    <div class="mydiv">
        <h1>F</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">   
        <a href="/about"><h1>About</h1></a>
    </div>
    <div class="col-md-4">
        <a href="/posts"><h1>Blog</h1></a>
    </div>
     <div class="col-md-4"> 
        <a href="/contact"><h1>Contact</h1></a>
    </div>
</div>

</div>
</div>