<div class="about-page-bkg">
<div class="center">
<h1 class="message-flash">Your message was unable to be sent, please verify that your information was entered correctly</h1>
<%= link_to "Go Back", new_message_path %>
</div>
</div>