<% provide(:title, "Contact") %>
<div class="hidden-overflow">
<div id="scene">


    <div class="col-md-4">
    </div>   
    
    <div class="col-md-4">
        &nbsp;
        <% @message = Message.new %>
<div class="center">
    <%= form_for @message, url: create_message_url do |f| %>
      <%= notice %>
      <%= @message.errors.full_messages.join(', ') %>

      <%= f.text_field :name, placeholder: 'name' %>
      <%= f.email_field :email, placeholder: 'email' %>
      <%= f.text_area :content, placeholder: 'message' %>
      <%= f.submit 'Send' %>
    <% end %>
</div>
    </div>
    
    <div class="col-md-4">
        <li class="layer" data-depth="0.80" friction="0.80"><img src="assets/saturn.png"></li>
    </div>






</div>
</div>