<% provide(:title, "Log in") %>
<h1 class="white">Log in</h1>


    <div class="col-md-4"></div>
    
    <div class="col-md-4">
        <%= form_for(:session, url: login_path) do |s| %>
        
        <%= s.label :email %>
        <%= s.email_field :email, class: "form_control" %>
        
        <%= s.label :password %>
        <%= s.password_field :password, class: "form_control" %>
        
        <%= s.label :remember_me, class: "checkbox_inline" do %>
            <%= s.check_box :remember_me %>
            <span>Remember me</span>
        <% end %>
        
        <%= s.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    </div>
    
    <div class="col-md-4"></div>
