<%= form_for(@user) do |u| %>
      <%= render 'shared/error_messages', object: u.object %>

      <%= u.label :name %>
      <%= u.text_field :name, class: 'form-control' %>

      <%= u.label :email %>
      <%= u.email_field :email, class: 'form-control' %>

      <%= u.label :password %>
      <%= u.password_field :password, class: 'form-control' %>

      <%= u.label :password_confirmation, "Confirm Password" %>
      <%= u.password_field :password_confirmation, class: 'form-control' %>

      <%= u.submit "Save changes", class: "btn btn-primary" %>
<% end %>