<% provide(:title, "Edit user") %>
<h1 class="white">Update your profile</h1>

<div class="col-md-4"></div>

<div class="col-md-4">
  <%= render 'form' %>
  &nbsp;
</div>

<div class="col-md-4"></div>