<div class="center">
  <% @posts.each do |post| %>
      <h3><%= link_to "#{post.title}", post_path(post) %></h3>
      <h6><%= post.created_at.strftime('%b %d, %Y') %></h6>
      <p><%= truncate post.description, length: 300 %></p>
      
      &nbsp;
      
  <% end %>
  <%= will_paginate %>
</div>




