<h1 class="white">New Blog Post</h1>
<% if logged_in? && current_user.admin? %> 
<%= render "posts/form" %>
<% else %>
<div class="center">
<h2><%= link_to "Log in to post", login_path %></h2>
</div>
<% end %>