<div class="center">

        <h3><%= @post.title %></h3>
        <h6><%= @post.created_at.strftime('%b %d, %Y') %></h6>
        <p><%= raw @post.body %></p>
        <p><%= link_to "Return to Blog", root_path, class: "white" %></p>
        <% if logged_in? %>
          <p><%= link_to "Edit", edit_post_path(@post), class: "white" %></p>
          <p><%= link_to 'Delete Post', @post, method: :delete, :onclick => "return confirm('Are you sure you want to delete this post?')", class: "white" %></p>
        <% end %>
        </div>
  </div>
</div>
</meta>