@import "bootstrap-sprockets";
@import "bootstrap";

/* Will update with customer input */

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$white: #ffffff;
$light-gray: #cfcfd1;
$dark-gray: #808080;
$dark-gray-darker: #5e5f60;
$black: #000000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.white {
    color: $white !important;
}
  
.col-centered{
    float: none;
    margin: 0 auto;
}

/* universal */
html, body {
  height: 100% !important;
  width: 100% !important;
  background: url(mainbkg.jpg) no-repeat center center fixed;
   background-repeat: no-repeat;
  background-size: cover;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  overflow: scroll;
 
}

.li {
  text-align: center;
}

.row {
  width: 100% !important;
}

.dropdown-menu {
  text-align: center;
  background: $white;
}

ul {
  blog-headers {
    font-family: 'Anton', sans-serif;
  }
}

.container-center {
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 50px;
  }
}

a {
  transition: text-decoration 1s ease;
  &:hover {
      text-decoration-color: $white !important;
      text-decoration: overline;
    }
  h1 {
    color: $white !important;
    z-index: 9999;
  }
  p {
    color: $white !important;
    z-index: 9999;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Anton', sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  u {
    text-decoration: underline;
  }
}

.message-flash {
    margin-top: 0 !important;
    color: $white;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  u {
    text-decoration: underline;
  }
}

h3 {
  font-size: 2.7em;
  letter-spacing: -1px;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-weight: normal;
  color: $white; 
   a {
    color: $white !important;
    margin: 0 !important;
  }
}

h4 {
  font-size: 1.5em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h5 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: center;
  font-weight: normal;
  color: $dark-gray-darker;
  u {
    text-decoration: underline;
  }
}

h6 {
  font-size: 1em;
  letter-spacing: -1px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  color: $white;
}

.menu-header {
  font-size: 2.0em;
  letter-spacing: -1px;
  margin-left: 15px;
  text-align: left;
  font-weight: normal;
  color: $black;
  font-family: 'Anton', sans-serif;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: $white;
}

#p-side {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  &:hover {
    color: underline;
  }
}

/* header */

/*
#headerbkg {
  background: url(stars.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

#phoneheaderbkg {
  background: url(stars.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
*/


.navbar {
  background-color: #000000;
  background-image: none;
  background-repeat: no-repeat;
  //opacity: 0.6;
  margin-bottom: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
 }
 
#header-side-logo {
  margin-left: 10px;
  float: right;
  line-height: 1;
  font-size: 1.0em;
  letter-spacing: -1px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
  color: $black;
  &:hover {
    color: $dark-gray;
    text-decoration: none;
  }
}

#logo {
  font-family: 'Anton', sans-serif;
  float: left;
  margin-left: 30px;
  margin-right: 10px;
  font-size: 4.0em;
  color: $black;
  text-transform: none;
  letter-spacing: 1.2px;
  padding-top: 9px;
  font-weight: heavy;
  /* &:hover {
    color: #000000;
    text-decoration: none;
  } */
}

#logo-two {
  font-family: 'Anton', sans-serif;
  float: left;
  margin-left: 18px;
  margin-right: 10px;
  font-size: 2.7em;
  color: $black;
  text-transform: none;
  letter-spacing: 1px;
  padding-top: 0px;
  font-weight: heavy;
  /* &:hover {
    color: #000000;
    text-decoration: none;
  } */
}

#logo-three {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: left;
  font-weight: normal;
  color: $white;
  &:hover {
    color: $dark-gray;
    text-decoration: none;
  }
}

#logo-three-phone {
  line-height: 1;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $white;
}

#logo-four {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: left;
  font-weight: normal;
  color: $white;
  &:hover {
    color: $dark-gray;
    text-decoration: none;
  }
}

#logo-four-phone {
  line-height: 1;
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $white;
}

.navbar-nav {
    display:inline-block;
    float:none;
}

.well{
background-color: $white !important;
}

.btn {
  background-color: $white;
  color: $black;
  &:hover {
      color: $gray-darker;
  }
}

.btn-danger {
  background-color: $white;
  color: $light-gray
}

.btn-primary {
  background-color: $white;
  color: $black;
  &:hover {
      color: $gray-darker;
  }
}

/* sidebar */

#sidebar {
  position: fixed;
  right:0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

label {
  color: $white;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.front-page-bkg {
  background: url(mainbkg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}


/* Float effect for moon */
img.floating {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(15px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(15px); }
}


img.cloud {
  opacity: 0.8;
    -webkit-animation: moving 5s infinite  alternate;
    animation: moving 5s infinite  alternate;
}
@-webkit-keyframes moving {
    0% { transform: translateY(0); }
    100% { transform: translateY(25px); }
}
@keyframes moving {
    0% { transform: translateY(0); }
    100% { transform: translateY(25px); }
}

img.cloud2 {
    padding-left: 15px;
    opacity: 0.6;
    -webkit-animation: moving 4s infinite  alternate;
    animation: moving 4s infinite  alternate;
}
@-webkit-keyframes moving {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}
@keyframes moving {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}

img.cloud3 {
    opacity: 0.8;
    -webkit-animation: moving2 6s infinite  alternate;
    animation: moving 6s infinite  alternate;
}
@-webkit-keyframes moving2 {
    0% { transform: translateY(0); }
    100% { transform: translateY(25px); }
}
@keyframes moving2 {
    0% { transform: translateY(0); }
    100% { transform: translateY(25px); }
}
.mydiv {
    z-index: 10;
    display: inline-block;
    h1 {
      color: $white !important;
      cursor: pointer !important;
    }
}

.home-menu {
  z-index: 9999 !important;
}

.moon {
  z-index: 2;
}

.mars {
  z-index: 2 !important;
  float: left;
  top: 0;
  margin-right: 10px;
  
}

.mercury {
  z-index: 3 !important;
  padding-left: 25px;
  bottom: 0;
  padding-top: 5em;
}

.header-logo {
  font-size: 1.5em;
  letter-spacing: -2px;
  font-family: 'Kaushan Script', cursive;
}

div, .btn {
  background-color: transparent;
}

button, .navbar-toggle {
    border-radius: 50% !important;
    border: none !important;
}

.large-logo {
  font-size: 1.7em !important;
}

.about-page-bkg {
  background: url(starsbkg.png);
  background-repeat: no-repeat;
  background-size: cover;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.about-text-box {
  display: inline-block;
  margin: 5 5 5 5;
  background-color: $black;
  opacity: 0.8;
  border-radius: 15px;
  z-index: 9999 !important;
  margin-top: 10px;
  
}

.about-text {
  text-align: center;
  display: inline-block;
  font-family: 'Kaushan Script', cursive;
  color: $white;
  font-size: 1em;
  letter-spacing: 1px;
}

.about-header {
    margin-bottom: 0px;
    font-size: 2em;
    letter-spacing: -2px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    display: inline-block;
    color: $white;
  }



.hidden-overflow {
  overflow: hidden;
}