<div class="container-center">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <%= simple_form_for(@category) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name %>
      </div>

      <div class="btn">
        <%= f.button :submit %>
      </div>
    <% end %>
  <div class="col-sm-2"></div>
</div>
