<div class="center">
<h3>
  <u><%= @category.name %></u>
</h3>
<% if logged_in? && current_user.admin? %>
  <p><blog-headers><%= link_to "New Post", new_post_path %></blog-headers></p>
  <p><blog-headers><%= link_to 'Edit', edit_category_path(@category) %> | 
  <%= link_to 'Delete', @category, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<% end %>
<%= link_to 'Back', categories_path %></blog-headers></p>
<br />
<h4>Posts:</h4>
<% if @category.posts.any? %>
  <% @category.posts.each do |post| %>
      <h6>
        <%= post.created_at.strftime('%b %d, %Y') %></h6>
      </h6>
      <h3>
        <u><%= link_to "#{post.title}", post_path(post) %></u>
      </h3>
      <div class="center">
        <p>
          <%= truncate post.description, length: 300 %>
        </p>
      </div>
      <br />
  <% end %>
<% else %>
  <p>There are no posts in this category</p>
<% end %>
</div>
