<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <%= image_tag('moonicon.png', size: '25x25') %>
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="center">
        <ul class="nav navbar-nav">
        
          <li><%= link_to "Home", root_path, class: "header-logo" %></li>
          <li><%= link_to "About", about_path, class: "header-logo" %></li>
          <li><%= link_to "Archives", posts_path, class: "header-logo" %></li>
          
          <% if logged_in? && current_user.admin? %>
            <%= render 'layouts/logged_in_header' %>
          <% end %>
          
        </ul>
      </div>
    </div>
  </div>
</nav>