<li><%= link_to "New Post", new_post_path, class: "header-logo" %></li>
<li><%= link_to "Edit Profile", edit_user_path(current_user), class: "header-logo" %></li>
<li><%= link_to "Log out", logout_path, method: "delete", class: "header-logo" %></li>