<header class="navbar navbar-default navbar-static-top" id="phoneheaderbkg">
    <div class="container">
        <div class="row">
            <div id="logo">True</div>
            <div id="logo-two">Conspiracies</div>
        </div>
<br />
<%= render 'layouts/menu' %>
</header>