<div class="column col-xs-3" id="sidebar">
        <div class="sidebar-nav-fixed pull-right affix">    
                <ul class="nav">
                    <div class="center">
                    <ul><h5>Categories</h5></ul>
                    <% @categories = Category.all.order(created_at: :desc) %>
                    <% @categories.each do |category| %>
                        <ul id="p-side">
                            <blog-headers><%= link_to "#{category.name}", category_path(category) %></blog-headers> 
                        </ul>
                    <% end %>
                    <% if logged_in? && current_user.admin? %>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                                <ul id="p-side"><blog-headers>New Category</blog-headers></ul>
                            </button>
                            <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
                                <% @category = Category.new %>
                                <%= simple_form_for(@category) do |f| %>
                                <p class="center"><%= f.error_notification %></p>
                                <p class="center"><%= f.input :name %></p>
                                <p class="center"><%= f.button :submit %></p>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                    </div>
                </ul>
        </div>    
</div>