<!DOCTYPE html>
<html>
  
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Moon|Half" />
  <meta property="og:description"   content="Web Development Blog" />
  <meta property="og:image"         content="assets/moonicon.png" />
  <meta property="og:image" content="#{image_url('moonicon.png')}" />
  
  <meta name="viewport" content="width=device-width; height=device-height; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <%= favicon_link_tag 'moonicon.png' %>
  
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
      <%= render 'layouts/header' %>
     
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/2.1.3/parallax.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
      
  </head>
  
  
    <body>
       <%= yield %>
      
      
    </body>
  
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Merienda" rel="stylesheet">
    
    <script>
      // Initialize Parallax.js
      var scene = document.getElementById('scene');
      var parallax = new Parallax(scene);
      
      // Touch Punch Draggable Letters
      for (var i = 0; i < 10; i++) {
        var x = document.getElementsByClassName("mydiv")[i]
        $(x).draggable();
      }
    </script>
    
    
</html>




